body {
    margin: 0;
    font-family: 'Roboto';
    background-color: #2D3833;
    color: white;
}

input[type=submit],
button {
    background-color: #2D3833;
    border: 1px solid white;
    color: white;
    font-family: 'Roboto';
    padding: 10px 24px;
}

input[type=submit]:disabled,
button:disabled {
    background-color: #1C2320 !important;
    border: 1px solid #4B4B4B;
    color: #4B4B4B;
}

input[type=submit]:hover,
button:hover {
    background-color: #3C4B44;
}

input[type=submit]:active,
button:active {
    background-color: #36433D;
}

input {
    padding: 10px 12px;
    background: none;
    border: 1px solid white;
    color: white;
    margin: 0px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    color: #BBD9CB;
}

a:hover {
    color: #96ABA1;
}

.navbar {
    overflow: hidden;
    position: fixed;
    background-color: #2D3833;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px 20vmin;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.navbar > .links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.navbar > .links > .logo {
    font-weight: bold;
    font-size: 32px;
    color: white;
}

.navbar > .user {
    display: flex;
    align-items: center;
    gap: 12px;
}

.app-content {
    padding-top: 80px;
}

.main, .register, .login, .create-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.refresh {
    position: fixed;
}

.posts {
    margin-top: 52px;
    display: flex;  
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.post {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px 26px;
    gap: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 800px) {
    .navbar {
        padding: 16px 16px;
    }

    .post {
        width: 80vmin;
    }
}

.post:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.post:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.post_displayName {
    font-size: 32px;
    font-weight: bold;
}

.post_createdAt {
    font-size: 14px;
}

.post_controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 8px;
}

.post_replies {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.reply {
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.reply:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.reply:active {
    background-color: rgba(0, 0, 0, 0.05);
}

.reply_displayName {
    font-size: 16px;
    font-weight: bold;
}

.reply_content {
    font-size: 14px;
}